body{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/95/32/54/9532549….gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
}